<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!-- 头部导航 -->
    <nav th:fragment="menu(n)" class="ui inverted attached segment c-padded-tb-mini c-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable  menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="/admin/blogs" class="item m-item c-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="mini home icon"></i>博客</a>
                <a href="/admin/types" class="item m-item c-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="mini idea icon"></i>分类</a>
                <a href="/admin/tags" class="item m-item c-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="mini tags icon"></i>标签</a>
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1005" th:src="${session.user.avator}" alt="" class="ui avatar image">
                            <span th:text="${session.user.nickname}">昵称</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin/logout" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button icon c-top-right c-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="active teal item">列表</a>
            </div>
        </div>
    </div> 
</body>

</html>