<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 头部导航 -->
<nav th:fragment="menu(n)" class="ui inverted attached segment c-padded-tb-mini c-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui teal header item">Roly</h2>
            <a href="/" class="item m-item c-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="mini home icon"></i>首页</a>
            <a href="/types/-1" class="item m-item c-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="mini idea icon"></i>分类</a>
            <a href="/tags/-1" class="item m-item c-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="mini tags icon"></i>标签</a>
            <a href="/archives" class="item m-item c-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="mini clone icon"></i>归档</a>
            <a href="/about" class="item m-item c-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="mini info icon"></i>关于我</a>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon c-top-right c-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
</body>
</html>